body {
    margin: 0;
    background-color: wheat;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.slider-container {
    position: relative;
    height: 300px;
    width: 500px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.image-container {
    display: flex;
    /* transform: translateX(-500px); */
    transition: transform 0.5s ease-in-out;
}

.btn {
    position: absolute;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    opacity: .5;
    cursor: pointer;
}

.btn.prev {
    left: 10px;
}

.btn.next {
    right: 10px;
}

.btn:hover {
    opacity: 1;
}